<h1>ランキング</h1>

<%= form_tag('/users/ranking', {method: 'get'}) do %>
  <%= hidden_field_tag :type, params[:type] %>
  <%= label_tag :from, '検索開始日' %>
  <%= date_field :date, :from, include_blank: true, value: @from_def %>
  <%= label_tag :to, '検索終了日' %>
  <%= date_field :date, :to, include_blank: true, value: @to_def %>
  <%= button_tag("検索") %>
<% end %>


<ul class="nav nav-tabs">
  <li class="nav-item">
    <%= link_to 'いいね数順', "/users/ranking?type=goods"%>
  </li>
  <li class="nav-item">
    <%= link_to '感想文数順', "/users/ranking?type=reviews"%>
  </li>
</ul>
<% rank = 0 %>
<% count = -1 %>
<% @users_order.each do |array| %>
  <div class="row">
    <% user = User.with_deleted.find(array[0]) %>
    <% department = Department.find(user.department_id).name %>
    <% rank += 1 if count != array[1] %>
    <% count = array[1] %>
    <div class="col-md-1">
      <p><%= rank %>位</p>
    </div>
    <div class="col-md-2">
      <%= link_to user.name, "/users/#{user.id}" %>
    </div>
    <div class="col-md-3">
      <p>所属部署: <%= department %></p>
    </div>
    <div class="col-md-3">
      <p><%= @type %>数: <%= array[1] %></p>
    </div>
  </div>
<% end %>
