<h1>貸出履歴標示</h1>

<div class="row">
  <div class="col-md-12">
    <% unless @histories.blank? %>
      <% @histories.each do |history| %>
        <% book = Book.find(history.book_id) %>
        <div class="lend_list_panel panel panel-default">
          <div class="lend_list_body panel-body">
            <div class="lend_list_img">
              <img src="<%= book.image_url%>">
            </div>
            <div class="lend_list_texts">
              <p>タイトル: <%= book.title %></p>
              <p>著者名: <%= book.author %></p>
              <p>出版社名: <%= book.publisher_name %></p>
              <p>貸出日: <%= history.created_at %></p>
            </div>
            <div class="lend_list_buttons">
              <%= link_to '返却する', "/books/#{book.id}/return", method: :post %><br />
              <%= link_to '感想文を書く', "/books/#{book.id}/review/new" %>
            </div>
          </div>
        </div>
      <% end %>
    <% else %>
      <p>現在貸出中の図書はありません</p>
    <% end %>
  </div>
</div>

