<h1>ユーザー情報表示</h1>
<% if @is_owner %>
  <p>ようこそ、<%= @user.name %>さん</p>
<% else %>
  <p>ユーザー名: <%= @user.name %></p>
  <p>所属部署: <%= Department.find(@user.department_id).name %></p>
<% end %>
<%= link_to '感想文一覧', "/users/#{@user.id}/reviews" %><br />

<ul class="nav nav-tabs">
  <li class="nav-item">
    <%= link_to '貸出中', "/users/#{@user.id}?type=borrowing" %>
  </li>
  <li class="nav-item">
    <%= link_to '予約中', "/users/#{@user.id}?type=reserved" %>
  </li>
  <li class="nav-item">
    <%= link_to '取り置き中', "/users/#{@user.id}?type=ready" %>
  </li>
  <li class="nav-item">
    <%= link_to '返却済み', "/users/#{@user.id}?type=returned"=%>
  </li>
</ul>
<div class="row">
  <div class="col-md-12">
    <h2><%= @status %>図書</h2>
    <% unless @items.blank? %>
      <%= page_entries_info @items %><br />
      <%= paginate @items %>
      <% @items.each do |item| %>
        <% if params[:type] == "reserved" %>
          <% borrowing_user_info = item.fetch_borrowing_user_info%>
        <% end %>
        <% book = Book.with_deleted.find(item.book_id) %>
        <div class="lend_list_panel panel panel-default">
          <div class="lend_list_body panel-body">
            <div class="lend_list_img">
              <%= link_to "/books/#{book.id}" do %>
                <% unless book.image_url.blank? %>
                  <img src="<%= book.image_url%>">
                <% else %>
                  <img src="/no_image.jpg">
                <% end %>
              <% end %>
            </div>
            <div class="lend_list_texts">
              <p>タイトル: <%= book.title %></p>
              <p>著者名: <%= book.author %></p>
              <p>出版社名: <%= book.publisher_name %></p>
              <% if params[:type] == "reserved" %>
                <p>予約日: <%= item.created_at.to_date %></p>
                <% if borrowing_user_info[:type] == 'is_borrowed' %>
                  <p>貸出中ユーザー: <%= borrowing_user_info[:name] %></p>
                  <p>貸出日: <%= borrowing_user_info[:borrowed_from].to_date %></p>
                  <p>返却期限: <%= borrowing_user_info[:return_by].to_date %></p>
                <% else %>
                  <p>他のユーザーの取り置き期間中</p>
                  <p>取り置き中ユーザー: <%= borrowing_user_info[:name] %></p>
                <% end %>
              <% elsif params[:type] == "ready" %>
                <p>取り置き期限: <%= (item.available_at + Environment.first.reservation_term.day).to_date %></p>
              <% else %>
                <p>貸出日: <%= item.created_at.to_date %></p>
              <% end %>
            </div>
            <% if @is_owner %>
              <div class="lend_list_buttons">
                <% if params[:type] == "returned" %>
                  <%= link_to '感想文を書く', "/books/#{book.id}/review/new", class: 'btn btn-primary' %>
                <% elsif params[:type] == "reserved" %>
                  <%= link_to '予約キャンセル', "/books/#{book.id}/reserve", method: :delete, class: 'btn btn-danger' %><br />
                <% elsif params[:type] == "ready" %>
                  <%= link_to '貸出する', "/books/#{book.id}/lend", method: :post, class: 'btn btn-primary' %><br />
                  <%= link_to '予約キャンセル', "/books/#{book.id}/reserve", method: :delete, class: 'btn btn-danger' %><br />
                <% else %>
                  <%= link_to '返却する', "/books/#{book.id}/return", method: :post, class: 'btn btn-danger' %><br />
                  <%= link_to '感想文を書く', "/books/#{book.id}/review/new", class: 'btn btn-primary' %>
                <% end %>
              </div>
            <% end %>
          </div>
        </div>
      <% end %>
      <%= paginate @items %>
    <% else %>
      <p>現在<%= @status %>の図書はありません</p>
    <% end %>
  </div>
</div>

