<h2>新着感想文</h2>
<div class="row">
  <% unless @reviews.blank? %>
    <% @reviews.each do |review| %>
      <div class="col-md-6">
        <% book = Book.with_deleted.find(review.book_id) %>
        <div class="review-list-panel panel panel-default">
          <div class="review-list-body panel-body">
            <div class="review-list-img">
              <a href="/books/<%= book.id %>">
                <% unless book.image_url.blank? %>
                  <img src="<%= book.image_url%>">
                <% else %>
                  <img src="/no_image.jpg">
                <% end %>
              </a>
              <p>いいね数: <%= review.count_good %></p>
              <%= link_to '全文表示', "/reviews/#{review.id}", class: 'btn btn-primary'%>
            </div>
            <div class="review-list-texts">
              <p>図書タイトル: <%= book.title %></p>
              <p>投稿者: <a href=<%= "/users/#{review.user_id}"%>><%= User.with_deleted.find(review.user_id).name %></a></p>
              <p>投稿日時: <%= review.created_at.strftime("%Y年%m月%d日 %H:%M:%S") %></p>
              <p><%= review.title %></p>
              <p class="review-preview"><%= review.text %></p>
            </div>
          </div>
        </div>
      </div>
    <% end %>
  <% else %>
    <div class="col-md-3">
      <p>投稿された感想文はありません。</p>
    </div>
  <% end %>
</div>
<h2>ランダムタグ表示</h2>
<div class="row">
  <div class="col-md-10">
    <% @tags.each do |tag| %>
      <%= link_to tag.name, "/books/search?tag=#{tag.id}", class: 'btn btn-default' %>
    <% end %>
  </div>
</div>
