<h1>書籍情報登録</h1>
<% if params[:has_data] == "true" %>
  <%= form_tag('/books/bar-code/', {method: 'post', class: 'barcode-form'}) do %>
    <%= label :param, :category_id, 'カテゴリー' %><br />
    <%= select :param, :category_id, @categories.map {|t| [t.name, t.id]}, value: 1 %><br />
    <%= label :param, :location_id, '保管場所' %><br />
    <%= select :param, :location_id, @locations.map {|t| [t.name, t.id]}, value: 1 %><br />
    <% if params[:is_exist] == "true" %>
      <%= button_tag('情報を上書きして保存', name: 'update', class: 'btn btn-danger') %>
      <%= button_tag('新規の図書として保存', name: 'duplicate', class: 'btn btn-warning') %><br />
    <% else %>
      <%= button_tag('登録', class: 'btn btn-primary') %><br />
    <% end %>
    <% hash = order_hashes(params[:item])%>
    <% hash.each do |param|%>
      <%= label :param, param[0], Constants::LABEL_CONVERT_MAP[param[0]] %><br/>
      <%= text_field :param, param[0], value: param[1], class: 'form-control' %><br />
    <% end %>
    <% if params[:is_exist] == "true" %>
      <%= button_tag('情報を上書きして保存', name: 'update', class: 'btn btn-danger') %>
      <%= button_tag('新規の図書として保存', name: 'duplicate', class: 'btn btn-warning') %>
    <% else %>
      <%= button_tag('登録', class: 'btn btn-primary') %>
    <% end %>
  <% end %>
<% else %>
  <%= link_to 'バーコード入力に戻る', '/books/bar-code/search', class: "btn btn-primary" %><br /><br />
  <%= form_tag('/books/bar-code/', {method: 'post'}) do %>
    <% hash = make_hash %>
    <% hash.each do |param|%>
      <%= label :param, param[0], Constants::LABEL_CONVERT_MAP[param[0]] %><br/>
      <%= text_field :param, param[0], value: param[1], class: 'form-control' %><br />
    <% end %>
    <%= label :param, :category_id, 'カテゴリー' %><br />
    <%= select :param, :category_id, @categories.map {|t| [t.name, t.id]}, value: 1 %><br />
    <%= label :param, :location_id, '保管場所' %><br />
    <%= select :param, :location_id, @locations.map {|t| [t.name, t.id]}, value: 1 %><br />
    <% if params[:is_exist] == "true" %>
      <%= button_tag('情報を上書きして保存', name: 'update', class: 'btn btn-danger') %>
      <%= button_tag('新規の図書として保存', name: 'duplicate', class: 'btn btn-warning') %>
    <% else %>
      <%= button_tag('登録', class: 'btn btn-primary') %>
    <% end %>
  <% end %>

<% end %>
