<h1>図書情報バーコード入力</h1>
<p>
楽天ブックスAPIを利用して、本のISBN番号のバーコードから<br />
図書の情報を自動的に取得します。<br />
(楽天ブックスにデータがない場合、データは取得されません。)</p>
<p>キーボードを半角入力モードにしてバーコードリーダーを使用して下さい。</p>
<%= form_tag('/books/bar-code/send') do %>
  <%= text_field :param, :isbn, class: 'barcode-input', autofocus: true %>
  <%= button_tag("検索") %>
<% end %>
