<h1><%= @book.title %>のタグ編集</h1>
<%= link_to '戻る', "/books/#{@book.id}" %>

<p>タグを追加(最大45文字、スペース区切りで複数登録可)</p>
<%= form_tag("/books/#{params[:id]}/add_tag", method: :post) do  %>
  <%= hidden_field_tag :user, current_user.id %>
  <%= text_field_tag :tag, '' %>
  <%= button_tag "追加", class: 'btn btn-primary' %>
<% end %>

<p>選択したタグを削除</p>
<p>(一般ユーザーは自分で設定したタグのみ削除可能です。)</p>
<%= form_tag("/books/#{params[:id]}/tag", method: :delete) do  %>
  <% @tag_maps.each do |tag_map| %>
    <% user = User.find(tag_map.user_id) %>
    <% tag = Tag.find(tag_map.tag_id) %>
    <%= label_tag tag_map.id, tag.name %>
    <% if current_user.is_admin == 0 %>
      <% if current_user.id.to_i == tag_map.user_id.to_i %>
        <%= check_box_tag tag_map.id, true, false, {} %><br />
      <% else %>
        <br />
      <% end %>
    <% else %>
      <%= check_box_tag tag_map.id, true, false, {} %><br />
    <% end %>
  <% end %>
  <%= button_tag "削除", class: 'btn btn-danger' %>
<% end %>
