<h1>図書貸出</h1>

<div class="row">
  <div class="col-md-3">
    <p>ステータス: <%= @availability %></p>
    <p>現在の予約数: <%= @reservation_count %></p>
    <% if @availability == '貸出可' %>
      <%= link_to '貸出', "/books/#{@book.id}/lend", method: :post, class: 'btn btn-primary'%>
    <% elsif @availability == '予約者貸出待機中' && @permitted_user == current_user.id %>
      <%= link_to '貸出', "/books/#{@book.id}/lend", method: :post, class: 'btn btn-primary' %>
    <% else %>
      <% if @is_reserved %>
        <p>予約済みです</p>
      <% else %>
          <%= link_to '予約', "/books/#{@book.id}/reserve", method: :post, class: 'btn btn-warning' %>
      <% end %>
    <% end %>
  </div>
  <div class="col-md-9">
    <% unless @book.image_url.blank? %>
      <img src="<%= @book.image_url%>">
    <% else %>
      <img src="/no_image.jpg">
    <% end %>
    <ul>
      <li>
        <p>貸出: <%= @availability %></p>
      </li>
      <li>
        <p>タイトル: <%= @book.title %></p>
      </li>
      <li>
        <p>サブタイトル: <%= @book.sub_title %></p>
      </li>
      <li>
        <p>シリーズ名: <%= @book.series_name %></p>
      </li>
      <li>
        <p>作者名: <%= @book.author %></p>
      </li>
      <li>
        <p>出版社名: <%= @book.publisher_name %></p>
      </li>
      <li>
        <p>本のサイズ: <%= @book.size %></p>
      </li>
      <li>
        <p>出版年月日: <%= @book.published_date %></p>
      </li>
      <li>
        <p>カテゴリー: <%= Category.find(@book.category_id).name %></p>
      </li>
      <li>
        <p>保管場所: <%= Location.find(@book.location_id).name %></p>
      </li>
    </ul>
  </div>
</div>
