<h1>図書返却</h1>
<h2>この図書を返却</h2>
<img src="<%= @book.image_url%>">
<p>タイトル: <%= @book.title %></p>
<p>著者名: <%= @book.author %></p>
<p>出版社名: <%= @book.publisher_name %></p>
<a href="/books/<%= book.id %>/return">返却する</a>
<%= link_to "/books/#{book.id}/return", %>

