<h1>図書検索</h1>
<%= form_tag('/books/search', {method: 'get'}) do %>
  <%= label_tag :category_id, 'カテゴリー' %>
  <%= select :cat, :category_id, @categories.map {|t| [t.name, t.id]}, selected: @category, include_blank: true %><br />
  <%= label_tag :mode, 'タイトル&タグ検索' %>
  <%= radio_button_tag :mode, 'both', checked = @is_both %>
  <%= label_tag :mode, 'タイトル検索' %>
  <%= radio_button_tag :mode, 'title', checked = @is_title %>
  <%= label_tag :mode, 'タグ検索' %>
  <%= radio_button_tag :mode, 'tag_text', checked = @is_tag_text %><br />
  <%= text_field_tag :text, params[:text], maxlength: 1000 %>
  <%= button_tag("検索") %>
<% end %>
<%= page_entries_info @books %><br />
<% if @books.size != 0 %>
  <%= paginate @books %>
  <div>
  <% @books.each_with_index do |book, i| %>
    <% img_class = "" %>
    <% if book.availability != 1 %>
      <% img_class += "img-borrowed" %>
    <% end %>
    <% if Review.exists?(isbn: book.isbn) %>
      <% img_class += " img-has-review" %>
    <% end %>
    <% if i % 3 == 0 %>
      <div class="row">
    <% end %>
    <div class="col-md-4 col-sm-4">
      <div class='book-item-panel panel panel-default'>
        <div class='book-item-body panel-body'>
          <a href="<%= "/books/" + book.id.to_s %>">
            <% unless book.image_url.blank? %>
              <div class="<%= img_class %>">
                <img src="<%= book.image_url %>">
              </div>
            <% else %>
              <div class="<%= img_class %>">
                <img src="/no_image.jpg">
              </div>
            <% end %>
          </a>
          <p><%= book.title %></p>
          <p><%= book.author %></p>
          <p><%= book.publisher_name %></p>
          <p><%= Category.find(book.category_id).name %></p>
          <p><%= Location.find(book.location_id).name %></p>
        </div>
      </div>
    </div>
    <% if i % 3 == 2 %>
      </div>
    <% end %>
  <% end %>
  </div>
  <%= paginate @books %>
<% else %>
  <p>条件にマッチする図書がありません。</p>
<% end %>
