<h1>図書情報表示</h1>

<div class="row">
  <div class="col-md-3">
    <p>ステータス: <%= @availability %></p>
    <% if @availability == '貸出可' %>
      <%= link_to 'この図書を借りる', "/books/#{@book.id}/lend" %>
    <% elsif @availability == '予約者貸出待機中' && @permitted_user == current_user.id %>
      <%= link_to 'この図書を借りる', "/books/#{@book.id}/lend" %>
    <% else %>
      <% unless @borrowed_by_self %>
        <%= link_to 'この図書を予約する', "/books/#{@book.id}/lend" %>
      <% end %>
    <% end %>
    <br />
    <%= link_to "この図書の感想文を見る(#{@review_count})", "/books/#{@book.id}/review" %><br />
    <%= link_to "タグを編集", "/books/#{@book.id}/edit_tag", class: 'btn btn-warning' %>
  </div>
  <div class="col-md-9">

    <div class="row book-and-tags-row">
      <div class="md-col-3">
        <% unless @book.image_url.blank? %>
          <img src="<%= @book.image_url%>">
        <% else %>
          <img src="<%= '/no_image.jpg' %>">
        <% end %>
      </div>
      <div class="md-col-9 tags">
        <% @tag_maps.each do |tag_map| %>
          <% tag = Tag.find(tag_map.tag_id)%>
          <%= link_to tag.name, "/books/search?tag=#{tag.id}", class: 'btn btn-default' %>
        <% end %>
      </div>
    </div>
    <div class="row">
      <ul>
        <li>
          <p>タイトル: <%= @book.title %>(<%= @book.title_kana %>)</p>
        </li>
        <li>
          <p>サブタイトル: <%= @book.sub_title %>(<%= @book.sub_title_kana %>)</p>
        </li>
        <li>
          <p>シリーズ名: <%= @book.series_name %>(<%= @book.series_name_kana %>)</p>
        </li>
        <li>
          <p>作者名: <%= @book.author %>(<%= @book.author_kana %>)</p>
        </li>
        <li>
          <p>出版社名: <%= @book.publisher_name %></p>
        </li>
        <li>
          <p>本のサイズ: <%= @book.size %></p>
        </li>
        <li>
          <p>ISBN: <%= @book.isbn %></p>
        </li>
        <li>
          <p>概要: <%= @book.caption %></p>
        </li>
        <li>
          <p>出版年月日: <%= @book.published_date %></p>
        </li>
        <li>
          <p>カテゴリー: <%= Category.find(@book.category_id).name %></p>
        </li>
        <li>
          <p>保管場所: <%= Location.find(@book.location_id).name %></p>
        </li>
      </ul>
    </div>
  </div>
</div>

