/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_directory .
 *= require_self
 */
@import "bootstrap-sprockets";
@import "bootstrap";

html {
  height: 100%;
}

body {
  height: 100%;
}

select {
  max-width: 200px !important;
}

.wrapper {
  display: flex;
  height: 100%;
  .sidebar.affix {
    height: 100%;
    padding: 40px;
    position: fixed;
    background-color: orange;
    .sidebar-header {
      .banner {
        width: max-content;
        a {
          color: white;
        }
      }
      p {
        color: white;
      }
    }
    ul li {
      margin: 20px;
      a {
        color: white;
        font-size: 18px;
      }
    }
  }
}

.container {
  margin: 0 0 0 270px;
}
