// Place all the styles related to the books controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
.review-form-body {
  .review-text-field {
  }
}

.book-and-tags-row {
  display: flex !important;
}

.img-borrowed:before {
  content: "貸出中";
  display: inline-block;
  text-align: center;
  font-size: .5em;
  background: #FF9F80;
  color: #fff;
  padding: 5px 5px 3px;
  margin-right: 5px;
  border-radius: 5px;
  line-height: 1.2;
  position: absolute;
}

.img-has-review:after {
  content: "感想文あり";
  display: inline-block;
  text-align: center;
  font-size: .5em;
  background: #809FFF;
  color: #fff;
  padding: 5px 5px 3px;
  margin-right: 5px;
  border-radius: 5px;
  line-height: 1.2;
  position: absolute;
  left: 75px;
}
