// Place all the styles related to the reviews controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
.review-list-img {
  max-width: 100px;
}
.review-list-texts {
  max-height: 250px;
  overflow: hidden;
  text-overflow: ellipsis;
  .review-preview {
    text-overflow: ellipsis;
  }
}
