// Place all the styles related to the users controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
.lend_list_panel {
  .lend_list_body {
    display: inline-flex;

    .lend_list_img {
      img {
        height: 100px;
      }
    }
    .lend_list_texts {
      margin: 5px 50px;
    }
  }
}

.review-list-panel {
  .review-list-body {
    display: inline-flex;

    .review-list-img {
      a img {
        height: 100px;
      }
    }
    .review-list-texts {
      margin: 5px 50px;
    }
  }
}
