<h1><%= @book.title + "の感想文編集"%></h1>
<div class="review-form-body">
  <%= form_tag("/reviews/#{@review.id}", {method: 'put'}) do %>
    <%= hidden_field_tag :book_id, @book.id %>
    <%= label_tag :title, 'タイトル(最大100文字)' %><br />
    <%= text_field_tag :title, @review.title, size: 80, maxlength: 100 %><br />
    <%= label_tag :text, '本文(最大10000文字)' %><br />
    <%= text_area_tag :text, @review.text, class: 'review-text-field', size: '100x18', maxlength: 10000 %><br />
    <%= button_tag '編集', class: 'btn btn-warning' %>
  <% end %>
</div>

