<h1>感想文検索</h1>

<%= form_tag('/reviews', {method: 'get'}) do %>
  <%= label_tag :mode, '新着更新順' %>
  <%= radio_button_tag :mode, 'new', checked = @is_new %>
  <%= label_tag :mode, 'いいね数順' %>
  <%= radio_button_tag :mode, 'good', checked = @is_good %>
  <%= button_tag("検索") %>
<% end %>

 
<div class="row">
  <div class="col-md-12">
    <% unless @reviews.blank? %>
      <%= page_entries_info @reviews %><br />
      <%= paginate @reviews %>
      <% @reviews.each do |review| %>
        <% book = Book.with_deleted.find(review.book_id) %>
        <div class="review-list-panel panel panel-default">
          <div class="review-list-body panel-body">
            <div class="review-list-img">
              <a href="/books/<%= book.id %>">
                <% unless book.image_url.blank? %>
                  <img src="<%= book.image_url%>">
                <% else %>
                  <img src="no_image.jpg">
                <% end %>
              </a>
              <p>いいね数: <%= review.count_good %></p>
              <%= link_to '全文表示', "/reviews/#{review.id}", class: 'btn btn-primary'%>
            </div>
            <div class="review-list-texts">
              <p>図書タイトル: <%= book.title %></p>
              <p>投稿者: <a href=<%="/users/#{review.user_id}"%>><%= User.with_deleted.find(review.user_id).name %></a></p>
              <p>投稿日時: <%= review.created_at.strftime("%Y年%m月%d日 %H:%M:%S") %></p>
              <p>更新日時: <%= review.updated_at.strftime("%Y年%m月%d日 %H:%M:%S")%></p>
              <p>タイトル: <%= review.title %></p>
              <p class="review-preview"><%= review.text %></p>
            </div>
          </div>
        </div>
      <% end %>
      <%= paginate @reviews %>
    <% else %>
      <p>投稿された感想文はありません。</p>
    <% end %>
  </div>
</div>

