<h1>感想文表示</h1>

<div class="row">
  <div class="col-md-3">
    <a href=<%= "/books/#{@book.id}"%>>
      <img src="<%= @book.image_url%>">
    </a>
    <p>タイトル: <%= @book.title %></p>
    <p>著者名: <%= @book.author %></p>
    <p>シリーズ名: <%= @book.series_name %></p>
    <p>出版社名: <%= @book.publisher_name %></p>
    <% if @review.user_id == current_user.id %>
      <%= link_to '編集', "/reviews/#{@review.id}/edit", class: 'btn btn-warning' %>
    <% end %>
  </div>
  <div class="col-md-9">
    <div>
      <p>いいね数: <%= @review.count_good %></p>
      <% if @review.user_id != current_user.id %>
        <% if @is_already_good %>
          <%= link_to 'いいねを外す', "/reviews/#{@review.id}", method: :post, class: 'btn btn-danger' %>
        <% else %>
          <%= link_to 'いいね', "/reviews/#{@review.id}", method: :post, class: 'btn btn-primary' %>
        <% end %>
      <% end %>
    </div>
    <p>感想文タイトル: <%= @review.title %></p>
    <p>
    投稿者名: <a href=<%= "/users/#{@user.id}"%>><%= @user.name %></a>
    </p>
    <p>投稿日時: <%= @review.created_at.strftime("%Y年%m月%d日 %H:%M:%S") %></p>
    <p>更新日時: <%= @review.updated_at.strftime("%Y年%m月%d日 %H:%M:%S")%></p>
    <p>本文:</p>
    <p><%= simple_format(h(@review.text)) %></p>
  </div>
</div>
