<!DOCTYPE html>
<html>
  <head>
    <title>BmsProject</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <div class="wrapper">
      <nav class="sidebar affix">
        <div class="sidebar-header">
          <h3 class="banner"><%= link_to '図書管理システム', '/' %></h3>
          <% if current_user %>
            <p>ユーザー名: <%= current_user.name %></p>
          <% end %>
          <% unless Rails.env.production? %>
            <p><%= Rails.env %></p>
          <% end %>
        </div>
        <% if current_user %>
          <ul class="list-unstyled components">
            <li>
              <%= link_to "図書検索", '/books/search' %>
            </li>
            <li>
              <%= link_to 'ランキング', '/users/ranking' %>
            </li>
            <li>
              <%= link_to '感想文検索', '/reviews' %>
            </li>
            <li>
              <%= link_to 'マイページ', "/users/#{current_user.id}" %>
            </li>
            <% if current_user.is_admin == 1 %>
              <li>
                <%= link_to '管理ページ', '/admin' %>
              </li>
            <% end %>
            <% if current_user.is_admin == 1 %>
              <li>
                <%= link_to 'バーコード', '/books/bar-code/search' %>
              </li>
            <% end %>
            <li>
              <%= link_to "ログアウト", destroy_user_session_path, method: :delete %>
            </li>
            <% if current_user.is_admin == 1 && !Rails.env.production? %>
              <li>
                <%= link_to "CW送信", '/home/send_message', method: :post %>
              </li>
            <% end %>
          </ul>
        <% end %>
      </nav>
      <div class="container">
        <% flash.each do |key, value| %>
          <% key = 'info' if key == 'notice' %>
          <% key = 'danger' if key == 'alert' %>
          <%= content_tag :div, value, class: "alert alert-#{key}" %>
        <% end %>
        <%= yield %>
      </div>
    </div>
  </body>
</html>
